<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdapterPattern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64F28AB91CFC424D00E18BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64F28AD21CFC424D00E18BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64F28ADD1CFC424D00E18BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
