<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BridgePattern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64CB3B591CFD20EC004AE118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64CB3B721CFD20EC004AE118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64CB3B7D1CFD20EC004AE118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
